root = true

[*]

end_of_line = lf
charset = utf-8

[*.py]

indent_style = space
indent_size = 4

[*.{js,jsx,html,json}]

indent_style = space
indent_size = 2

[*.{scss,css}]

indent_style = space
indent_size = 2
